@font-face { font-family: ProductSans; src: url('ProductSans.ttf');}
@font-face { font-family: ProductSans; src: url('ProductSans-Thin.ttf');}
@font-face { font-family: ProductSans; src: url('ProductSans-Medium.ttf');}
@font-face { font-family: ProductSans; src: url('ProductSans-Light.ttf');}
@font-face { font-family: ProductSans; src: url('ProductSans-Italic.ttf');}
@font-face { font-family: ProductSans; src: url('ProductSans-Regular.ttf');}
@font-face { font-family: AvenirRegular; src: url('AvenirRegular.ttf');}


body {
  background-color: #141414;
  background-size: cover;
  background-size: auto;
  color: white;
  font-family: 'ProductSans';
  margin: 0;
  padding: 0;
}

p {
 padding: 16px;
}

hr{
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

h1{
  font-family: 'ProductSans';
  font-size: 1.5rem;
  color: white;
}

.input-box, .input-box-ind {
  background: black;
  border: none;
  box-shadow: 0.313rem 0.313rem 1.125rem 0 rgba(25, 25, 25, 0.35);
  width: 25rem;
  height: 1.875rem;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  font-family: 'ProductSans', sans-serif;
}

.input-box:focus, .input-box-ind:focus {
  background: black;
  border: none;
  box-shadow: 0.313rem 0.313rem 1.125rem 0 rgba(25, 25, 25, 0.35);
  width: 25rem;
  height: 1.875rem;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  font-family: 'ProductSans';
  outline: none;
}

.sidelogos{
  height: 30px;
  width: 30px;
  margin: 0.625rem;
}

.linkdashboard {
  height: 100%;
  max-width: fit-content;
  margin-top: 3rem;
  z-index: 1;
  background-color: #000000;
  overflow-x: hidden;
  padding: 1rem;
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
}

.linkdashboard a {
  padding: 6px 16px 6px 16px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'AvenirRegular';
  color: #818181;
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 5px;
  transition: transform .5s;
}

.linkdashboard a:hover{
  color: green;
  border-color: green;
  transform: scale(1.01);
}

.input-box{
  background: white;
  border-style: solid;
  border-color: grey;
  box-shadow: 0.313rem 0.313rem 1.125rem 0 rgba(25, 25, 25, 0.35);
  border-radius: 5px;
  max-width: 20rem;
}

.input-box:focus{
  background: whitesmoke;
  border-style: solid;
  border-color: green;
}

.input-box-ind {
  background: white;
  border-style: solid;
  border-color: grey;
  box-shadow: 0.313rem 0.313rem 1.125rem 0 rgba(25, 25, 25, 0.35);
  border-radius: 5px;
  max-width: 20rem;
}

.input-box-ind:focus{
  background: whitesmoke;
  border-style: solid;
  border-color: green;
}
